html {
  font-family: 'Lato', serif;
  font-size: 20px;
  color: $copy-color;
}

h1, h2, h3 {
  color: $primary-color;
  font-family: 'Slabo 13px', serif;
  // font-weight: 700;
}


h1 {
  font-size: 2rem;
}

a {
  color: $primary-color;
  text-decoration: none;
  border-bottom: 2px solid $primary-color;
}

p {
  padding-bottom: $padding;
}

@include breakpoint(0,850) {
  html {
    font-size: 16px;
  }
}
